<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://DESKTOP-TPECO3Q\SQLEXPRESS;database=Notebook</property>
        <property name="hibernate.connection.username">Disshell</property>
        <property name="hibernate.connection.password">123</property>
        <mapping resource="ru/disshell/models/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>